html {
  scrollbar-gutter: auto;

  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-blue-01);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px 48px;
  text-align: center;
  white-space: nowrap;
  color: var(--color-white);
  background: var(--color-blue-04);
  border: none;
  border-radius: var(--border-radius-l);
}