:root {
  --color-white: #ffffff;

  --color-blue-01: #1F3F68;
  --color-blue-02: #316099;
  --color-blue-03: #356EAD;
  --color-blue-04: #5A98D0;
  --color-gray: #444444B2;

  --border-radius-l: 10px;
  --box-shadow-01: 5px 20px 50px 0 rgba(16, 112, 177, 0.20);
  --box-shadow-02: 5px 10px 50px 0 rgba(16, 112, 177, 0.20);

  --font-family-base: "Gilroy", sans-serif;

  --container-width: 940px;
  --container-padding-x: 15px;

  --transition-duration: 0.3ms;
}